In [1]:
import sqlite3
import pandas as pd
# Connecting to the database
conn = sqlite3.connect('data.db')

In [2]:
%load_ext sql
%sql sqlite:///data.db
df = pd.read_csv(r"NYPD_Arrest_Data__Year_to_Date__20240225.csv")
df.to_sql("law_enforcement", conn)

226872

In [3]:
%sql SELECT * FROM law_enforcement limit 5

 * sqlite:///data.db
Done.

[(0, 261265483, '01/03/2023', 397.0, 'ROBBERY,OPEN AREA UNCLASSIFIED', 105.0, 'ROBBERY', 'PL 1600500', 'F', 'B', 49, 0, '18-24', 'M', 'BLACK', 1027430, 251104, 40.855793, -73.843908, 'POINT (-73.843908 40.855793)'),
 (1, 261271301, '01/03/2023', 105.0, 'STRANGULATION 1ST', 106.0, 'FELONY ASSAULT', 'PL 1211200', 'F', 'S', 120, 0, '25-44', 'M', 'WHITE', 962808, 174275, 40.644996, -74.077263, 'POINT (-74.077263 40.644996)'),
 (2, 261336449, '01/04/2023', 397.0, 'ROBBERY,OPEN AREA UNCLASSIFIED', 105.0, 'ROBBERY', 'PL 1601001', 'F', 'K', 61, 0, '<18', 'M', 'BLACK', 995118, 155708, 40.594054, -73.960866, 'POINT (-73.960866 40.594054)'),
 (3, 261328047, '01/04/2023', 105.0, 'STRANGULATION 1ST', 106.0, 'FELONY ASSAULT', 'PL 1211200', 'F', 'Q', 114, 0, '18-24', 'M', 'BLACK', 1007694, 219656, 40.769552, -73.915361, 'POINT (-73.915361 40.769552)'),
 (4, 261417496, '01/05/2023', 244.0, 'BURGLARY,UNCLASSIFIED,UNKNOWN', 107.0, 'BURGLARY', 'PL 1402000', 'F', 'B', 44, 0, '25-44', 'F', 'BLACK', 1007174, 239542, 40.824135, -73.91717, 'POINT (-73.91717 40.824135)')]

In [7]:
# Correcting the table name in queries to match the table name used in to_sql
# 1. Retrieving the total number of arrests
total_arrests_query = "SELECT COUNT(*) FROM law_enforcement;"
total_arrests = pd.read_sql_query(total_arrests_query, conn)
print(f"Total arrests: {total_arrests.iloc[0,0]}")

Total arrests: 226872

In [14]:
# Retrieve the most frequent type of crime leading to arrests
most_frequent_crime_query = """
SELECT pd_desc AS Most_Frequent_Crime, COUNT(*) AS Total_Count
FROM law_enforcement
GROUP BY pd_desc
ORDER BY Total_Count DESC
LIMIT 1;
"""

# Execute the query and store the result
most_frequent_crime_result = pd.read_sql_query(most_frequent_crime_query, conn)

# Print the result
print("The most frequent type of crime leading to arrests:", most_frequent_crime_result)

The most frequent type of crime leading to arrests:   Most_Frequent_Crime  Total_Count
0           ASSAULT 3        24744

In [15]:
# Identify the borough with the highest number of arrests within a specific period
most_arrests_borough_query = """
SELECT arrest_boro AS Borough, COUNT(*) AS Total_Arrests
FROM law_enforcement
WHERE arrest_date BETWEEN '2021-01-01' AND '2021-12-31'
GROUP BY arrest_boro
ORDER BY Total_Arrests DESC
LIMIT 1;
"""

# Execute the query and store the result
most_arrests_borough_result = pd.read_sql_query(most_arrests_borough_query, conn)

# Print the result
print("Borough with the highest number of arrests in 2021:", most_arrests_borough_result)

Borough with the highest number of arrests in 2021: Empty DataFrame
Columns: [Borough, Total_Arrests]
Index: []

In [16]:
# Count arrests of individuals in the youth age group in a specific borough
youth_arrests_query = """
SELECT COUNT(*) AS Youth_Arrest_Count
FROM law_enforcement
WHERE age_group = 'Y' AND arrest_boro = 'M';
"""

# Execute the query and store the result
youth_arrests_result = pd.read_sql_query(youth_arrests_query, conn)

# Extract the count from the result and print
youth_arrest_count = youth_arrests_result.iloc[0, 0]
print("Number of arrests involving young individuals in borough M:", youth_arrest_count)

Number of arrests involving young individuals in borough M: 0